<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema Pet</title>
  </head>
  <body>
  	<form class="row g-3" action="/enviar" method="GET">
                    
                    <div class="col-md-6">
                      <label for="nomeTutor" class="form-label">Tutor</label>
                      <input type="text" class="form-control" id="nomeTutor">
                    </div>
                    
                    <div class="col-md-6">
                      <label for="cpfTutor" class="form-label">CPF</label>
                      <input type="text" class="form-control" id="cpfTutor">
                    </div>
                    
                    <div class="col-12">
                      <label for="nomePaciente" class="form-label">Paciente</label>
                      <input type="text" class="form-control" id="nomePaciente" placeholder="Nome do Paciente">
                    </div>
                    
                    <div class="col-md-6">
                      <label for="veterinario" class="form-label">Veterinário</label>
                      <select id="veterinario" class="form-select">
                        <option selected>Choose...</option>
                        <option>Veterinário1</option>
                        <option>Veterinário2</option>
                        <option>Veterinário3</option>
                      </select>
                    </div>
                    
                    <div class="col-md-3">
                      <label for="data" class="form-label">Data</label>
                      <input type="date" class="form-control" id="data">
                    </div>
                    
                  	<div class="col-12">
                      <button type="submit" value="enviar" class="btn btn-primary">Agendar</button>
                    </div>  
                  </form>
  </body>
  </html>